In [1]:
import requests
import pandas as pd


#def get_crypto_price(symbol, exchange, start_date = None):
#    api_key = 'FAA5OE3IY4HA1OI2'
#    api_url = f'https://www.alphavantage.co/query?function=DIGITAL_CURRENCY_DAILY&symbol={symbol}&market={exchange}&apikey={api_key}'
#    raw_df = requests.get(api_url).json()
#    df = pd.DataFrame(raw_df['Time Series (Digital Currency Daily)']).T
#    df = df.rename(columns = {'1a. open (USD)': 'open', '2a. high (USD)': 'high', '3a. low (USD)': 'low', '4a. close (USD)': 'close', '5. volume': 'volume'})
#    for i in df.columns:
#        df[i] = df[i].astype(float)
#    df.index = pd.to_datetime(df.index)
#    df = df.iloc[::-1].drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)', '6. market cap (USD)'], axis = 1)
#    if start_date:
#        df = df[df.index >= start_date]
#    return df

#btc = get_crypto_price(symbol = 'BTC', exchange = 'USD', start_date = '2020-01-01')
#btc

In [2]:
#raw_df

In [3]:
#eth = get_crypto_price(symbol = 'ETH', exchange = 'USD', start_date = '2020-01-01')
#eth

In [4]:
#btc.info()

In [5]:
#eth.info()

In [9]:
#def get_crypto_price_daily_adjusted(symbol, exchange, start_date = None):
#    api_key = 'FAA5OE3IY4HA1OI2'
#    api_url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol={symbol}&market={exchange}&apikey={api_key}'
#    raw_df = requests.get(api_url)#.json()
#    df = pd.DataFrame(raw_df['Time Series (Digital Currency Daily)']).T
#    df = df.rename(columns = {'1a. open (USD)': 'open', '2a. high (USD)': 'high', '3a. low (USD)': 'low', '4a. close (USD)': 'close', '5. volume': 'volume'})
#    for i in df.columns:
#        df[i] = df[i].astype(float)
#    df.index = pd.to_datetime(df.index)
#    df = df.iloc[::-1].drop(['1b. open (USD)', '2b. high (USD)', '3b. low (USD)', '4b. close (USD)', '6. market cap (USD)'], axis = 1)
#    if start_date:
#        df = df[df.index >= start_date]
#    return df

In [13]:
#import requests
#import pandas as pd

#def get_crypto_price(symbol, interval, days):
#    api_key = 'FAA5OE3IY4HA1OI2'
#    api_url = f'https://api.twelvedata.com/time_series?symbol={symbol}&exchange=Binance&interval={interval}&outputsize={days}&apikey={api_key}'
#    raw = requests.get(api_url).json()
#    df = pd.DataFrame(raw['values']).set_index('datetime')
#    df = df.iloc[::-1]
#    return df

#xrp = get_crypto_price('XRP/USD', '1day', 450)
#xrp

KeyError: 'values'

In [16]:
#api_key = 'd0a56152367141b3a19a5d7b1f6e1a99'
#api_url = f'https://api.twelvedata.com/time_series?symbol=BTC&exchange=Binance&interval=1day&outputsize=450&apikey={api_key}'
#raw = requests.get(api_url).json()
#raw

{'code': 400,
 'message': '**symbol** BTC is not available with your plan. You may select the appropriate plan at https://twelvedata.com/pricing',
 'status': 'error',
 'meta': {'symbol': 'BTC', 'interval': '1day', 'exchange': 'Binance'}}

In [25]:
import requests
import pandas as pd

def get_crypto_price(symbol, start, end):
    api_url = f'https://data.messari.io/api/v1/markets/binance-{symbol}-usdt/metrics/price/time-series?start={start}&end={end}&interval=1d'
    raw = requests.get(api_url).json()
    df = pd.DataFrame(raw['data']['values'])
    df = df.rename(columns = {0:'date',1:f'{symbol}_open',2:f'{symbol}_high',3:f'{symbol}_low',4:f'{symbol}_close',5:f'{symbol}_volume'})
    df['date'] = pd.to_datetime(df['date'], unit = 'ms')
    df = df.set_index('date')
    return df

btc = get_crypto_price('btc', '2018-01-01', '2022-12-12')
btc

            btc_open  btc_high   btc_low  btc_close     btc_volume
date
2018-01-01  13715.65  13818.55  12750.00   13380.00    8609.915844
2018-01-02  13382.16  15473.49  12890.02   14675.11   20078.092111
2018-01-03  14690.00  15307.56  14150.00   14919.51   15905.667639
2018-01-04  14919.51  15280.00  13918.04   15059.54   21329.649574
2018-01-05  15059.56  17176.24  14600.00   16960.39   23251.491125
...              ...       ...       ...        ...            ...
2022-12-08  16837.61  17298.58  16733.49   17224.82  122071.703410
2022-12-09  17223.70  17353.17  17058.21   17128.55  128639.484700
2022-12-10  17128.56  17225.12  17092.00   17127.49   75995.093800
2022-12-11  17127.09  17270.99  17071.17   17084.59   84358.066960
2022-12-12  17084.82  17087.48  16871.85   16988.73   95013.282570

[1768 rows x 5 columns]

In [22]:
btc.nunique()

open      1767
high      1728
low       1724
close     1767
volume    1768
dtype: int64

In [28]:
btc.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1768 entries, 2018-01-01 to 2022-12-12
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   btc_open    1768 non-null   float64
 1   btc_high    1768 non-null   float64
 2   btc_low     1768 non-null   float64
 3   btc_close   1768 non-null   float64
 4   btc_volume  1768 non-null   float64
dtypes: float64(5)
memory usage: 82.9 KB

In [26]:
eth = get_crypto_price('eth', '2018-01-01', '2022-12-12')
eth

            eth_open  eth_high  eth_low  eth_close    eth_volume
date
2018-01-01    733.01    763.55   716.80     754.99   53909.25885
2018-01-02    754.99    899.50   749.06     855.28  110603.25683
2018-01-03    855.13    950.01   810.00     934.03   89041.45688
2018-01-04    934.03   1009.72   890.01     940.00  102894.47384
2018-01-05    940.00   1045.00   930.00     959.30   97374.01630
...              ...       ...      ...        ...           ...
2022-12-08   1231.18   1292.58  1222.11    1280.19  206140.55100
2022-12-09   1280.18   1296.64  1250.00    1263.10  211487.99340
2022-12-10   1263.11   1282.96  1259.64    1266.34   97852.92080
2022-12-11   1266.35   1284.75  1255.85    1263.08   99989.60320
2022-12-12   1263.00   1263.00  1240.03    1252.13  143852.12950

[1770 rows x 5 columns]

In [24]:
eth.nunique()

open      1750
high      1729
low       1724
close     1752
volume    1770
dtype: int64

In [27]:
eth.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1770 entries, 2018-01-01 to 2022-12-12
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   eth_open    1770 non-null   float64
 1   eth_high    1770 non-null   float64
 2   eth_low     1770 non-null   float64
 3   eth_close   1770 non-null   float64
 4   eth_volume  1770 non-null   float64
dtypes: float64(5)
memory usage: 83.0 KB